body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0 auto;
}

#messages {
  height: calc(100vh - 160px);
  overflow-y: auto;
  padding: 10px;
  background: #fff;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  flex-direction: column;
  margin: 6px 10px;
  max-width: 60%;
  background-color: #e9e9e9;
  border-radius: 10px;
  padding: 5px;
}

.texto {
  background: #bfbfbf;
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
  margin-top: 5px;
  word-wrap: break-word;
}

.message.moi {
  align-self: flex-end;
  text-align: right;
}

.message.moi .texto {
  background: #007aff;
  color: white;
}

.message.autre {
  align-self: flex-start;
  text-align: left;
}

.message strong {
  font-size: 13px;
  color: #2b5797;
}

.btn {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 0;
  background-color: #333;
  color: white;
}

#changerNom {
  background-color: #e74c3c;
  color: white;
  border: none;
}

.menu {
  height: 35px;
  width: 35px;
  font-size: 20px;
}

.head {
  height: 35px;
  background-color: #004d98;
  border-bottom: solid 1px gray;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.titre {
  color: white;
  font-size: 25px;
  margin-left: 30px;
}

.menu:active {
  transform: scale(1.1);
}

.drawer {
  position: fixed;
  top: 0;
  left: -400px;
  width: 300px;
  height: 100%;
  background-color: #333;
  transition: left 0.4s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

.drawer.open {
  left: 0;
  background-color: #a8a8a8;
}

.btn-close {
  background-color: #ff7300;
  color: white;
  border: solid 2px gainsboro;
  border-radius: 5px;
  float: right;
  font-size: 20px;
}

.btn-close:hover {
  opacity: 0.9;
  background-color: brown;
}

.send {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%; /* important */
  max-width: 100%;
  overflow: hidden;
  bottom: 0;
  left: 0;
  border-top: 1px solid gray;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #747474;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-bottom: 15px;
  position: fixed;
}

textarea {
  width: 75%;
  resize: none;
  height: 80px;
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
}

.photos_couverture {
  height: 100px;
  background-color: #202020;
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px white solid;
}

.photos_profil {
  background-color: #a8a8a8;
  background-image: url('profil.png');
  background-size: 100px 100px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: solid 2px white;
  margin-top: 20px;
}

#monNom {
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
}

.reactions {
  margin-top: 5px;
}

.emoji-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  opacity: 0.7;
}

.emoji-btn:hover {
  opacity: 1;
  transform: scale(1.1);
}

.suppr-btn {
  background: none;
  border: none;
  font-size: 12px;
  color: red;
  cursor: pointer;
}

.suppr-btn:hover {
  transform: scale(1.1);
  color: darkred;
}

.reply-btn {
  background: none;
  border: none;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  margin-left: 10px;
}

.reply-btn:hover {
  text-decoration: underline;
}

.reponse {
  margin-left: 50px;
  background-color: rgb(165, 237, 255);
  border-radius: 10px;
  padding: 5px;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background: #808080;
  padding: 10px;
  border-radius: 10px;
  width: 75%;
  box-shadow: 0 0 15px black;
}
#utilisateur ul {
  list-style: none;
  padding-left: 0;
  margin: 5px 0;
}
#utilisateur li {
  background: #eee;
  margin: 3px 0;
  padding: 5px 10px;
  border-radius: 6px;
}
li:active {
  transform: scale(1.1);
}
#utilisateur {
  overflow-y: auto;
  max-height: 30vh;
  padding: 5px;
}
.gr:active {
  background-color: #7474748e;
}
.gr {
  font-weight: bold;
  color: white;
}
